[Expensas CABA](#seccion_expensas_caba) 

[Expensas Argentina](#seccion_expensas_arg)

In [1]:
import pandas as pd

In [2]:
data_properati = pd.read_csv("properati.csv")
data_properati.head(3)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [3]:
data_properati.dtypes

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

In [4]:
data_properati.index

RangeIndex(start=0, stop=121220, step=1)

In [5]:
valores_null = data_properati.isnull().sum()
valores_total = 121220
porcentaje_null = (valores_null / valores_total) * 100
porcentaje_null

Unnamed: 0                     0.000000
operation                      0.000000
property_type                  0.000000
place_name                     0.018974
place_with_parent_names        0.000000
country_name                   0.000000
state_name                     0.000000
geonames_id                   15.440521
lat-lon                       42.525986
lat                           42.525986
lon                           42.525986
price                         16.837156
currency                      16.837981
price_aprox_local_currency    16.837156
price_aprox_usd               16.837156
surface_total_in_m2           32.443491
surface_covered_in_m2         16.422208
price_usd_per_m2              43.394654
price_per_m2                  27.686850
floor                         93.483749
rooms                         60.905791
expenses                      88.234615
properati_url                  0.000000
description                    0.001650
title                          0.000000
image_thumbnail                2.567233
dtype: float64

In [6]:
data_precios_ubicacion = data_properati.loc[:,['property_type', 'place_name', 'state_name', 'price', 'currency', 'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2']]
data_precios_ubicacion.head(3)

,property_type,place_name,state_name,price,currency,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2
0,PH,Mataderos,Capital Federal,62000.0,USD,55.0,40.0,1127.272727,1550.000000
1,apartment,La Plata,Bs.As. G.B.A. Zona Sur,150000.0,USD,NaN,NaN,NaN,NaN
2,apartment,Mataderos,Capital Federal,72000.0,USD,55.0,55.0,1309.090909,1309.090909

In [7]:
data_precios_ubicacion['currency'].value_counts()

USD    87587
ARS    13219
PEN        2
UYU        1
Name: currency, dtype: int64

In [8]:
data_properati['state_name'].value_counts()

Capital Federal                 32316
Bs.As. G.B.A. Zona Norte        25560
Bs.As. G.B.A. Zona Sur          13952
Córdoba                         12069
Santa Fe                        10172
Buenos Aires Costa Atlántica    10006
Bs.As. G.B.A. Zona Oeste         9322
Buenos Aires Interior            2291
Río Negro                         808
Neuquén                           733
Mendoza                           681
Tucumán                           674
Corrientes                        583
Misiones                          464
Entre Ríos                        369
Salta                             278
Chubut                            259
San Luis                          252
La Pampa                          157
Formosa                            65
Chaco                              57
San Juan                           40
Tierra Del Fuego                   31
Catamarca                          27
Jujuy                              26
Santa Cruz                         20
La Rioja                            4
Santiago Del Estero                 4
Name: state_name, dtype: int64

In [9]:
state_name = data_properati['state_name'] == 'Santa Cruz'
data_properati.loc[state_name, ['price', 'currency', 'surface_total_in_m2', 'price_usd_per_m2', 'rooms']]

            price currency  surface_total_in_m2  price_usd_per_m2  rooms
5432     160000.0      USD                  NaN               NaN    4.0
6464    1500000.0      ARS                  NaN               NaN    3.0
9640    3800000.0      ARS                300.0        710.393233    4.0
12459    190000.0      USD                250.0        760.000000    4.0
12460   2350000.0      ARS                  NaN               NaN    NaN
12461   1600000.0      ARS                  NaN               NaN    NaN
31616    150000.0      USD                259.0        579.150579    3.0
31618         NaN      NaN                236.0               NaN    NaN
31619   1600000.0      ARS                260.0        345.130308    3.0
39860   2600000.0      ARS                264.0        552.339205    4.0
39861    290000.0      USD                660.0        439.393939    6.0
46899   1300000.0      ARS                240.0        315.969583    2.0
50075   1600000.0      ARS                  NaN               NaN    2.0
50430   2980000.0      ARS                160.0       1044.558438    5.0
67558    850000.0      USD                  NaN               NaN    NaN
70607    130000.0      USD                 60.0       2166.666667    NaN
98320    195000.0      USD                  NaN               NaN    NaN
113151  2500000.0      ARS                416.0        337.041322    3.0
115199   950000.0      ARS                  NaN               NaN    NaN
116150  1800000.0      ARS                240.0        420.627542    NaN

<a id="seccion_expensas_caba"></a>

## Vamos a analizar las expensas de CABA
### ¿El valor de la propiedad en CABA correlaciona con el valor de las expensas?
Para este análisis vamos a tomar aquellas propiedades que tengan el precio en dolares y el campo de las expensas no nulo

In [10]:
data_properati['expenses'].describe()

count    1.426200e+04
mean     5.009234e+03
std      1.204403e+05
min      1.000000e+00
25%      1.000000e+03
50%      2.000000e+03
75%      4.000000e+03
max      1.000150e+07
Name: expenses, dtype: float64

In [11]:
# voy a analizar la variable expenses de caba
expenses_not_null_caba = (data_properati['expenses'].isnull() == 0) & (data_properati['state_name'] == 'Capital Federal')
data_expenses_caba = data_properati.loc[expenses_not_null_caba, :]
data_expenses_caba

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
66,66,sell,apartment,Boedo,|Argentina|Capital Federal|Boedo|,Argentina,Capital Federal,3436003.0,"-34.6187769485,-58.4026450688",-34.618777,...,NaN,1918.421053,NaN,NaN,NaN,1200.0,http://www.properati.com.ar/15bwv_venta_depart...,CODIGO: 5 ubicado en: Avenida Independencia 26...,"DEPARTAMENTO NUEVO, DE UN AMBIENTE amplio, 3 A...",https://thumbs4.properati.com/6/lz6kGdM5o_p3nE...
98,98,sell,apartment,Almagro,|Argentina|Capital Federal|Almagro|,Argentina,Capital Federal,3436397.0,NaN,NaN,...,40.0,2198.000000,2747.500000,NaN,2.0,1577.0,http://www.properati.com.ar/15d0c_venta_depart...,"Venta de Departamento 2 AMBIENTES en Almagro, ...",DEPARTAMENTO EN VENTA,https://thumbs4.properati.com/2/2WS6UK2y-aBR96...
266,266,sell,apartment,Palermo Hollywood,|Argentina|Capital Federal|Palermo|Palermo Hol...,Argentina,Capital Federal,NaN,"-34.5765042465,-58.4314684478",-34.576504,...,41.0,2872.340426,3292.682927,NaN,NaN,1800.0,http://www.properati.com.ar/15dqq_venta_depart...,CODIGO: ubicado en: Avenida Santa Fe 5000 - ...,Av. Santa Fe 5000 - 2 amb - Palermo Hollywood,https://thumbs4.properati.com/8/MuRSCqG6pAKLZ1...
681,681,sell,apartment,Recoleta,|Argentina|Capital Federal|Recoleta|,Argentina,Capital Federal,3429595.0,"-34.5878433,-58.3889176",-34.587843,...,135.0,NaN,NaN,9.0,NaN,8500.0,http://www.properati.com.ar/15fox_venta_depart...,"Semipiso en Recoleta, frente al Alvear Palace ...",DEPARTAMENTO EN VENTA,https://thumbs4.properati.com/4/Kfh3_1mtbjzCuH...
691,691,sell,PH,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5666711,-58.4720061",-34.566671,...,52.0,2923.076923,2923.076923,6.0,2.0,1800.0,http://www.properati.com.ar/15fqi_venta_ph_bel...,"Venta de Departamento 1 DORM en BELGRANO, Capi...",PH EN VENTA,https://thumbs4.properati.com/7/MEz4_dEg2qrZaX...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121151,121151,sell,apartment,Flores,|Argentina|Capital Federal|Flores|,Argentina,Capital Federal,3433918.0,"-34.6295045177,-58.460641832",-34.629505,...,72.0,NaN,1666.666667,NaN,NaN,6500.0,http://www.properati.com.ar/1cj5b_venta_depart...,"Departamento al frente con balcón, dos dormito...",Departamento - Flores,https://thumbs4.properati.com/0/TL4t5MEWxr7-uq...
121160,121160,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.563685346,-58.4426825896",-34.563685,...,NaN,2611.464968,NaN,NaN,NaN,6300.0,http://www.properati.com.ar/1cj5v_venta_depart...,Edificio en esquina de muy buena categoría de ...,Av .Luis Maria Campos 1400- Belgrano-Capital F...,https://thumbs4.properati.com/0/zeLNBuyylOJL7z...
121209,121209,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.563685346,-58.4426825896",-34.563685,...,NaN,2611.464968,NaN,NaN,NaN,6300.0,http://www.properati.com.ar/1cj7c_venta_depart...,Edificio en esquina de muy buena categoría de ...,Av .Luis Maria Campos 1400- Belgrano-Capital F...,https://thumbs4.properati.com/0/zeLNBuyylOJL7z...
121215,121215,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,NaN,NaN,...,93.0,7699.115044,9354.838710,NaN,NaN,10000.0,http://www.properati.com.ar/1cja2_venta_depart...,TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...,Torre Forum Alcorta- Impecable 3 ambientes,https://thumbs4.properati.com/1/bjms0KnaAnlNoQ...
121219,121219,sell,apartment,Capital Federal,|Argentina|Capital Federal|,Argentina,Capital Federal,3433955.0,NaN,NaN,...,77.0,1675.324675,1675.324675,NaN,NaN,3500.0,http://www.properati.com.ar/1cjaa_venta_depart...,Departamento de 77 m2 apto profesional. Edific...,Departamento apto profesional en el Centro,https://thumbs4.properati.com/8/mNEsnQWqB7joBF...

In [12]:
# quiero saber como estan agrupados los datos por currency 
data_expenses_caba['currency'].value_counts()

USD    6314
ARS      33
Name: currency, dtype: int64

In [13]:
data_expenses_caba_dummies = pd.get_dummies(data_expenses_caba['currency'], drop_first = True, prefix = 'currency') 
data_expenses_caba_dummies

        currency_USD
66                 1
98                 1
266                1
681                0
691                1
...              ...
121151             1
121160             1
121209             1
121215             1
121219             1

[6592 rows x 1 columns]

In [14]:
# corroboro que currency_usd tenga la misma cantidad de valores que hay en la columna currency con el valor USD
data_expenses_caba_dummies.sum()

currency_USD    6314
dtype: int64

In [15]:
# agrego la dummy al dataframe data_expenses_caba
data_expenses_caba = data_expenses_caba.join(data_expenses_caba_dummies)

In [16]:
# dropeo algunas columnas del dataframe que no me interesan para el analisis de las expenses
data_expenses_caba = data_expenses_caba.drop(labels = ['geonames_id','lat-lon', 'lat', 'lon'], axis = 1)

In [17]:
# quiero ver si precio en dolares y expensas correlacionan o no, en capital federal 
# genero una mascara para quedarme unicamente con dolares = 1 
data_currency_caba_usd = data_expenses_caba['currency_USD'] == 1
# filtro las columas price y expenses
data_expenses_caba_usd = data_expenses_caba.loc[data_currency_caba_usd, ['price', 'expenses']]
# aplico pd.corr para saber si correlacionan o no 
data_expenses_caba_usd.corr(method = 'pearson')

             price  expenses
price     1.000000  0.008967
expenses  0.008967  1.000000

**Conclusión: el precio de la propiedad en CABA no correlaciona con el valor de las expensas**

In [18]:
# ahora quiero ver que ocurre con la correlacion entre price y expenses en el resto de las provincias 
# veamos la columna expenses por provincia >> hay info? vale la pena completar la info?

<a id="seccion_expensas_arg"></a>

## ¿El precio en dolares correlaciona con el valor de las expensas?

Para este análisis vamos a tomar aquellas propiedades que tengan el precio en dolares y el campo de las expensas no nulo, sin importar a que provincia pertencen

In [19]:
# listo todos los state_names disponibles 
state_name_lista = list(data_properati['state_name'].unique())
state_name_lista

['Capital Federal',
 'Bs.As. G.B.A. Zona Sur',
 'Buenos Aires Costa Atlántica',
 'Entre Ríos',
 'Bs.As. G.B.A. Zona Norte',
 'Santa Fe',
 'Córdoba',
 'Bs.As. G.B.A. Zona Oeste',
 'Misiones',
 'Buenos Aires Interior',
 'Salta',
 'Neuquén',
 'Río Negro',
 'San Luis',
 'Mendoza',
 'Corrientes',
 'Chubut',
 'Tucumán',
 'La Pampa',
 'Chaco',
 'San Juan',
 'Santa Cruz',
 'Tierra Del Fuego',
 'Catamarca',
 'Santiago Del Estero',
 'Jujuy',
 'La Rioja',
 'Formosa']

In [20]:
# tipos de propiedades
data_properati['property_type'].value_counts()

apartment    71065
house        40268
PH            5751
store         4136
Name: property_type, dtype: int64

In [21]:
# genero una mascara para identificar aquellos que tienen el valor de las expensas no nulo
expenses_not_null = data_properati['expenses'].isnull() == 0
# aplico la mascara
data_properati_expenses_not_null = data_properati.loc[expenses_not_null, :]
print(data_properati_expenses_not_null['property_type'].value_counts())
print('\ntotal not null:', data_properati_expenses_not_null['property_type'].count())

apartment    11204
house         2308
store          402
PH             348
Name: property_type, dtype: int64

total not null: 14262

In [22]:
# quiero ver la distribucion de los not null por state_name
data_properati_expenses_not_null['state_name'].value_counts()

Capital Federal                 6592
Bs.As. G.B.A. Zona Norte        3081
Bs.As. G.B.A. Zona Sur          1777
Córdoba                         1006
Bs.As. G.B.A. Zona Oeste         633
Buenos Aires Costa Atlántica     440
Santa Fe                         316
Tucumán                           90
Buenos Aires Interior             85
Mendoza                           69
Corrientes                        69
Neuquén                           36
Entre Ríos                        25
Río Negro                         22
San Luis                           5
Formosa                            5
La Pampa                           3
Misiones                           2
Salta                              2
Chubut                             1
Tierra Del Fuego                   1
Santiago Del Estero                1
Chaco                              1
Name: state_name, dtype: int64

In [23]:
# quiero ver el porcentaje de completitud de la variable expensas por state_name
# expensas not null / q total
total_state_name = data_properati['state_name'].value_counts()
porcentaje_expenses_notnull_statename = (((data_properati_expenses_not_null['state_name'].value_counts()) / total_state_name)*100).sort_values(ascending=False)
porcentaje_expenses_notnull_statename

Santiago Del Estero             25.000000
Capital Federal                 20.398564
Tucumán                         13.353116
Bs.As. G.B.A. Zona Sur          12.736525
Bs.As. G.B.A. Zona Norte        12.053991
Corrientes                      11.835334
Mendoza                         10.132159
Córdoba                          8.335405
Formosa                          7.692308
Bs.As. G.B.A. Zona Oeste         6.790388
Entre Ríos                       6.775068
Neuquén                          4.911323
Buenos Aires Costa Atlántica     4.397362
Buenos Aires Interior            3.710170
Tierra Del Fuego                 3.225806
Santa Fe                         3.106567
Río Negro                        2.722772
San Luis                         1.984127
La Pampa                         1.910828
Chaco                            1.754386
Salta                            0.719424
Misiones                         0.431034
Chubut                           0.386100
Catamarca                             NaN
Jujuy                                 NaN
La Rioja                              NaN
San Juan                              NaN
Santa Cruz                            NaN
Name: state_name, dtype: float64

In [24]:
# genero una mascara para detectar aquellos datos con expensas no nulas y precio en dolares
# quiero ver si hay correlacion entre el valor de la propiedad y el valor de las expensas 
# me quedo con las propiedades que tienen el precio en dolares
expenses_not_null_usd = (data_properati['expenses'].isnull() == 0) & (data_properati['currency'] == 'USD')
data_properati_expenses_not_null_usd = data_properati.loc[expenses_not_null_usd, :]
print(data_properati_expenses_not_null_usd['state_name'].value_counts())
print('total no nulos con precio en dolares:',data_properati_expenses_not_null_usd['state_name'].count())

Capital Federal                 6314
Bs.As. G.B.A. Zona Norte        2935
Bs.As. G.B.A. Zona Sur          1617
Bs.As. G.B.A. Zona Oeste         597
Córdoba                          502
Buenos Aires Costa Atlántica     362
Santa Fe                          95
Corrientes                        67
Buenos Aires Interior             67
Mendoza                           58
Neuquén                            9
Río Negro                          8
Entre Ríos                         8
Tucumán                            6
San Luis                           2
Chubut                             1
Tierra Del Fuego                   1
Salta                              1
Santiago Del Estero                1
La Pampa                           1
Name: state_name, dtype: int64
total no nulos con precio en dolares: 12652

In [25]:
data_properati_expenses_not_null_usd.loc[:, ['price', 'expenses']].corr(method='pearson')

             price  expenses
price     1.000000  0.011545
expenses  0.011545  1.000000

**Conclusión: el valor de la propiedad no correlaciona con el valor de las expensas**