In [ ]:
import pandas as pd
df = pd.read_csv("properati.csv")
df.head()

In [4]:
df.head()

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...

In [6]:
df.shape

(121220, 26)

In [12]:
df.groupby('state_name').agg('count').operation.sort_values(ascending = False)

state_name
Capital Federal                 32316
Bs.As. G.B.A. Zona Norte        25560
Bs.As. G.B.A. Zona Sur          13952
Córdoba                         12069
Santa Fe                        10172
Buenos Aires Costa Atlántica    10006
Bs.As. G.B.A. Zona Oeste         9322
Buenos Aires Interior            2291
Río Negro                         808
Neuquén                           733
Mendoza                           681
Tucumán                           674
Corrientes                        583
Misiones                          464
Entre Ríos                        369
Salta                             278
Chubut                            259
San Luis                          252
La Pampa                          157
Formosa                            65
Chaco                              57
San Juan                           40
Tierra Del Fuego                   31
Catamarca                          27
Jujuy                              26
Santa Cruz                         20
La Rioja                            4
Santiago Del Estero                 4
Name: operation, dtype: int64

In [13]:
df.columns

Index(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name', 'geonames_id',
       'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [14]:
df.currency.unique()

array(['USD', nan, 'ARS', 'PEN', 'UYU'], dtype=object)

In [15]:
df.price_aprox_usd

0          62000.0
1         150000.0
2          72000.0
3          95000.0
4          64000.0
            ...
121215    870000.0
121216    498000.0
121217    131500.0
121218     95900.0
121219    129000.0
Name: price_aprox_usd, Length: 121220, dtype: float64

In [19]:
(df.price[df.currency == 'ARS'] / df.price_aprox_usd[df.currency == 'ARS']).describe()

count    13219.000000
mean        17.814183
std          0.102316
min         17.143000
25%         17.830500
50%         17.830501
75%         17.830502
max         17.830531
dtype: float64

In [24]:
(df.price_aprox_local_currency[df.currency == 'USD'] / df.price[df.currency == 'USD']).describe()

count    8.758700e+04
mean     1.764450e+01
std      1.236618e-08
min      1.764450e+01
25%      1.764450e+01
50%      1.764450e+01
75%      1.764450e+01
max      1.764450e+01
dtype: float64

In [25]:
1.7e1

17.0

In [26]:
df.property_type.unique()

array(['PH', 'apartment', 'house', 'store'], dtype=object)

In [73]:
table_pivote_tipo = df.pivot_table(values = ['price'], columns = 'property_type', aggfunc = completitud)\
    .transpose() \
    .sort_values(by = 'price', ascending = False)

table_pivote_tipo

C:\Users\carlm\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in longlong_scalars
  """Entry point for launching an IPython kernel.

                   price
property_type
PH             90.766823
apartment      83.889397
house          81.243171
store          78.795938

In [105]:
completitud = lambda x: 100 - 100 * x.isnull().sum() / len(x)

table_pivote = df.pivot_table(values = ['price'], columns = 'state_name', aggfunc = completitud)\
    .transpose() \
    .sort_values(by = 'price', ascending = False)

table_pivote['cantidad_de_propiedades'] = df.state_name.value_counts()

table_pivote['promedio_de_precios_m2'] = df.groupby('state_name').agg('mean').price_usd_per_m2

table_pivote['std_de_precios_m2'] = df.groupby('state_name').agg('std').price_usd_per_m2

table_pivote

C:\Users\carlm\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in longlong_scalars
  """Entry point for launching an IPython kernel.

,price,cantidad_de_propiedades,promedio_de_precios_m2,std_de_precios_m2
state_name,,,,
Tierra Del Fuego,100.000000,31,1168.748152,871.035690
Catamarca,96.296296,27,556.045469,562.821671
Santa Cruz,95.000000,20,697.388256,534.882067
Bs.As. G.B.A. Zona Norte,94.123631,25560,1860.779924,1894.265775
Buenos Aires Costa Atlántica,90.535679,10006,1574.633123,916.209264
Capital Federal,89.794529,32316,3116.930444,3681.030087
Bs.As. G.B.A. Zona Sur,86.618406,13952,1525.356899,1119.507894
San Luis,82.539683,252,1600.125287,3442.022704
Corrientes,80.617496,583,1492.307008,614.172324
Buenos Aires Interior,79.179398,2291,959.950891,707.412120
Bs.As. G.B.A. Zona Oeste,78.663377,9322,1349.904779,1636.372787
Misiones,75.000000,464,753.052748,653.528073
Santiago Del Estero,75.000000,4,269.769379,224.185960
Córdoba,74.886072,12069,1219.628477,859.615119
Mendoza,69.897210,681,1689.744992,2615.406046
Chubut,63.320463,259,1708.614091,1498.756329
Chaco,63.157895,57,939.802732,574.032766
Santa Fe,53.214707,10172,2178.133354,4162.022793
La Rioja,50.000000,4,243.029233,NaN
Río Negro,44.678218,808,1925.470230,1556.647257
Formosa,44.615385,65,1509.648462,8.883072
Neuquén,44.201910,733,1788.103357,1406.050357
Jujuy,38.461538,26,617.077447,711.251908
Salta,36.690647,278,2547.463501,4953.591438
Entre Ríos,35.230352,369,1255.605614,2639.518871
Tucumán,31.602374,674,1338.515760,2768.326124
La Pampa,22.929936,157,899.381177,335.627014
San Juan,10.000000,40,1648.244241,2182.478180

In [102]:
tolerance_table = table_pivote[(table_pivote['price'] >= 74) & (table_pivote['cantidad_de_propiedades'] > 250)]
tolerance_table

,price,cantidad_de_propiedades,promedio_de_precios_m2
state_name,,,
Bs.As. G.B.A. Zona Norte,94.123631,25560,1860.779924
Buenos Aires Costa Atlántica,90.535679,10006,1574.633123
Capital Federal,89.794529,32316,3116.930444
Bs.As. G.B.A. Zona Sur,86.618406,13952,1525.356899
San Luis,82.539683,252,1600.125287
Corrientes,80.617496,583,1492.307008
Buenos Aires Interior,79.179398,2291,959.950891
Bs.As. G.B.A. Zona Oeste,78.663377,9322,1349.904779
Misiones,75.000000,464,753.052748
Córdoba,74.886072,12069,1219.628477

In [107]:
porcentaje_de_registros = 100 * tolerance_table['cantidad_de_propiedades'].sum() / df.shape[0]
porcentaje_de_registros

88.11664741791783

In [117]:
df[df.state_name == 'Córdoba'].groupby(['place_name', 'property_type']).price_usd_per_m2.describe().to_csv('cordoba.csv')